.p-education.Div13 {
height: 100%;
}
.p-education.Flex70 {
display: flex;
margin-left: 120px;
margin-right: 77px;
justify-content: space-between;
}
.p-education.Flex71 {
display: flex;
width: 50%;
padding-top: 50px;
padding-bottom: 20px;
}
.p-education.Flex72 {
display: flex;
width: 50%;
}
.p-education.Flex118 {
display: flex;
margin-left: 120px;
margin-right: 77px;
justify-content: space-between;
padding-top: 50px;
}
.p-education.Flex119 {
display: flex;
width: 50%;
flex-direction: column;
height: 600px;
}
.p-education.Flex130 {
display: flex;
width: ;
flex-direction: column;
padding-left: ;
padding-right: ;
border-bottom-style: none;
margin-right: ;
border-style: solid;
border-left-style: none;
border-right-style: none;
border-top-style: none;
padding-bottom: 20px;
}
.p-education.Flex124 {
display: flex;
margin-left: ;
margin-right: 10px;
padding-bottom: ;
width: ;
justify-content: space-between;
padding-left: 10px;
padding-right: 10px;
border-style: solid;
border-left-style: none;
border-right-style: none;
border-top-style: none;
}
.p-education.Flex123 {
display: flex;
width: 100%;
flex-direction: column;
padding-left: ;
padding-right: ;
border-bottom-style: none;
margin-right: ;
padding-bottom: 20px;
border-top-style: none;
border-style: solid;
border-left-style: none;
border-right-style: none;
}
.p-education.Flex121 {
display: flex;
justify-content: space-between;
padding-top: 5px;
}
.p-education.Flex122 {
display: flex;
justify-content: space-between;
padding-bottom: 5px;
padding-top: 10px;
}
.p-education.Flex134 {
display: flex;
margin-left: ;
margin-right: 10px;
padding-bottom: ;
width: ;
justify-content: space-between;
padding-left: 10px;
padding-right: 10px;
border-style: solid;
border-left-style: none;
border-right-style: none;
border-top-style: none;
}
.p-education.Flex133 {
display: flex;
width: 100%;
flex-direction: column;
padding-left: ;
padding-right: ;
border-bottom-style: none;
margin-right: ;
padding-bottom: 20px;
border-top-style: none;
border-style: solid;
border-left-style: none;
border-right-style: none;
padding-top: 20px;
}
.p-education.Flex131 {
display: flex;
justify-content: space-between;
padding-bottom: 5px;
padding-top: 10px;
}
.p-education.Flex132 {
display: flex;
justify-content: space-between;
padding-top: 5px;
}
.p-education.Flex138 {
display: flex;
margin-left: ;
margin-right: 10px;
padding-bottom: ;
width: ;
justify-content: space-between;
padding-left: 10px;
padding-right: 10px;
border-style: solid;
border-left-style: none;
border-right-style: none;
border-top-style: none;
}
.p-education.Flex137 {
display: flex;
width: 100%;
flex-direction: column;
padding-left: ;
padding-right: ;
border-bottom-style: none;
margin-right: ;
padding-bottom: 20px;
border-top-style: none;
border-style: solid;
border-left-style: none;
border-right-style: none;
padding-top: 20px;
}
.p-education.Flex135 {
display: flex;
justify-content: space-between;
padding-bottom: 5px;
padding-top: 10px;
}
.p-education.Flex136 {
display: flex;
justify-content: space-between;
padding-top: 5px;
}
.p-education.Flex120 {
display: flex;
width: 50%;
height: 300px;
flex-direction: column;
}
.p-education.Flex143 {
display: flex;
height: 88px;
width: 100%;
justify-content: flex-start;
border-style: solid;
border-left-style: none;
border-right-style: none;
border-top-style: none;
column-gap: 10px;
}
.p-education.Flex145 {
display: flex;
}
.p-education.Flex146 {
display: flex;
}
.p-education.Flex149 {
display: flex;
width: ;
flex-direction: column;
padding-left: 5px;
padding-right: 5px;
border-bottom-style: none;
margin-right: ;
padding-bottom: 20px;
border-top-style: none;
border-style: solid;
border-left-style: none;
border-right-style: none;
}
.p-education.Flex147 {
display: flex;
justify-content: space-between;
padding-bottom: 5px;
padding-top: 10px;
}
.p-education.Flex148 {
display: flex;
justify-content: space-between;
padding-top: 5px;
column-gap: 85px;
}
.p-education.Flex155 {
display: flex;
height: 88px;
width: 100%;
justify-content: flex-start;
border-style: solid;
border-left-style: none;
border-right-style: none;
border-top-style: none;
column-gap: 10px;
padding-top: 20px;
}
.p-education.Flex153 {
display: flex;
}
.p-education.Flex152 {
display: flex;
width: 100%;
flex-direction: column;
padding-left: 5px;
padding-right: 5px;
border-bottom-style: none;
margin-right: ;
padding-bottom: 20px;
border-top-style: none;
border-style: solid;
border-left-style: none;
border-right-style: none;
}
.p-education.Flex150 {
display: flex;
justify-content: space-between;
padding-top: 5px;
column-gap: 85px;
}
.p-education.Flex151 {
display: flex;
justify-content: space-between;
padding-bottom: 5px;
padding-top: 10px;
}
.p-education.Flex154 {
display: flex;
}
.p-education.Flex161 {
display: flex;
height: 88px;
width: 100%;
justify-content: flex-start;
border-style: solid;
border-left-style: none;
border-right-style: none;
border-top-style: none;
column-gap: 10px;
padding-top: 20px;
}
.p-education.Flex159 {
display: flex;
}
.p-education.Flex158 {
display: flex;
width: 100%;
flex-direction: column;
padding-left: 5px;
padding-right: 5px;
border-bottom-style: none;
margin-right: ;
padding-bottom: 20px;
border-top-style: none;
border-style: solid;
border-left-style: none;
border-right-style: none;
}
.p-education.Flex156 {
display: flex;
justify-content: space-between;
padding-top: 5px;
column-gap: 150px;
}
.p-education.Flex157 {
display: flex;
justify-content: space-between;
padding-bottom: 5px;
padding-top: 10px;
}
.p-education.Flex160 {
display: flex;
}
.p-education.TextBox75 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 30px;
width: 50%;
}
.p-education.TextBox76 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 30px;
width: ;
padding-left: ;
padding-top: 50px;
}
.p-education.TextBox111 {
font-family: IBM Plex Sans;
font-weight: 100;
font-size: 16px;
}
.p-education.TextBox112 {
font-family: IBM Plex Sans;
font-weight: 100;
font-size: 16px;
}
.p-education.Image59 {
;
}
.p-education.TextBox113 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 20px;
width: ;
}
.p-education.TextBox120 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 20px;
width: ;
}
.p-education.Image62 {
;
}
.p-education.TextBox121 {
font-family: IBM Plex Sans;
font-weight: 100;
font-size: 16px;
}
.p-education.TextBox122 {
font-family: IBM Plex Sans;
font-weight: 100;
font-size: 16px;
}
.p-education.TextBox123 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 20px;
width: ;
}
.p-education.Image63 {
;
}
.p-education.TextBox124 {
font-family: IBM Plex Sans;
font-weight: 100;
font-size: 16px;
}
.p-education.TextBox125 {
font-family: IBM Plex Sans;
font-weight: 100;
font-size: 16px;
}
.p-education.Image68 {
width: 50px;
padding-left: 10px;
}
.p-education.TextBox128 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 20px;
width: ;
}
.p-education.Image69 {
;
}
.p-education.TextBox129 {
font-family: IBM Plex Sans;
font-weight: 100;
font-size: 16px;
}
.p-education.TextBox130 {
font-family: IBM Plex Sans;
font-weight: 100;
font-size: 16px;
width: ;
}
.p-education.TextBox131 {
font-family: IBM Plex Sans;
font-weight: 100;
font-size: 16px;
}
.p-education.TextBox132 {
font-family: IBM Plex Sans;
font-weight: 100;
font-size: 16px;
}
.p-education.Image70 {
;
}
.p-education.TextBox133 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 20px;
width: ;
}
.p-education.Image71 {
width: 50px;
padding-left: 10px;
}
.p-education.TextBox134 {
font-family: IBM Plex Sans;
font-weight: 100;
font-size: 16px;
}
.p-education.TextBox135 {
font-family: IBM Plex Sans;
font-weight: 100;
font-size: 16px;
}
.p-education.Image72 {
;
}
.p-education.TextBox136 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 20px;
width: ;
}
.p-education.Image73 {
width: 50px;
padding-left: 10px;
}
