.p-faq.Div29 {
height: 100%;
background-color: #000000;
}
.p-faq.Flex320 {
display: flex;
margin-left: 120px;
margin-right: 77px;
flex-direction: column;
}
.p-faq.Flex322 {
display: flex;
margin-left: 120px;
margin-right: 77px;
justify-content: space-between;
padding-top: 50px;
column-gap: 20px;
}
.p-faq.Flex323 {
display: flex;
width: 50%;
flex-direction: column;
}
.p-faq.Flex325 {
display: flex;
padding-top: 40px;
padding-bottom: 40px;
justify-content: space-between;
border-style: solid;
border-color: #f8f8f8;
border-left-style: none;
border-top-style: none;
border-right-style: none;
}
.p-faq.Flex330 {
display: flex;
padding-top: 40px;
padding-bottom: 40px;
justify-content: space-between;
border-style: solid;
border-color: #f8f8f8;
border-left-style: none;
border-top-style: none;
border-right-style: none;
}
.p-faq.Flex331 {
display: flex;
padding-top: 40px;
padding-bottom: 40px;
justify-content: space-between;
border-style: solid;
border-color: #f8f8f8;
border-left-style: none;
border-top-style: none;
border-right-style: none;
}
.p-faq.Flex332 {
display: flex;
padding-top: 40px;
padding-bottom: 40px;
justify-content: space-between;
border-style: solid;
border-color: #f8f8f8;
border-left-style: none;
border-top-style: none;
border-right-style: none;
}
.p-faq.Flex324 {
display: flex;
flex-direction: column;
width: 50%;
}
.p-faq.Flex333 {
display: flex;
padding-top: 40px;
padding-bottom: 40px;
justify-content: space-between;
border-style: solid;
border-color: #f8f8f8;
border-left-style: none;
border-top-style: none;
border-right-style: none;
}
.p-faq.Flex334 {
display: flex;
padding-top: 40px;
padding-bottom: 40px;
justify-content: space-between;
border-style: solid;
border-color: #f8f8f8;
border-left-style: none;
border-top-style: none;
border-right-style: none;
}
.p-faq.Flex335 {
display: flex;
padding-top: 40px;
padding-bottom: 40px;
justify-content: space-between;
border-style: solid;
border-color: #f8f8f8;
border-left-style: none;
border-top-style: none;
border-right-style: none;
}
.p-faq.Flex336 {
display: flex;
padding-top: 40px;
padding-bottom: 40px;
justify-content: space-between;
border-style: solid;
border-color: #f8f8f8;
border-left-style: none;
border-top-style: none;
border-right-style: none;
}
.p-faq.TextBox277 {
width: ;
align-self: center;
color: #ffffff;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 20px;
padding-top: 20px;
padding-bottom: 10px;
}
.p-faq.TextBox279 {
align-self: center;
color: #ffffff;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 30px;
}
.p-faq.TextBox280 {
color: #ffffff;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 20px;
}
.p-faq.Image133 {
;
}
.p-faq.Image134 {
;
}
.p-faq.TextBox281 {
color: #ffffff;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 20px;
}
.p-faq.Image135 {
;
}
.p-faq.TextBox282 {
color: #ffffff;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 20px;
}
.p-faq.Image136 {
;
}
.p-faq.TextBox283 {
color: #ffffff;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 20px;
}
.p-faq.Image137 {
;
}
.p-faq.TextBox284 {
color: #ffffff;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 20px;
}
.p-faq.Image138 {
;
}
.p-faq.TextBox285 {
color: #ffffff;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 20px;
}
.p-faq.Image139 {
;
}
.p-faq.TextBox286 {
color: #ffffff;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 20px;
}
.p-faq.Image140 {
;
}
.p-faq.TextBox287 {
color: #ffffff;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 20px;
}
