.p-gk.Div26 {
height: 100%;
}
.p-gk.Flex293 {
display: flex;
margin-left: 120px;
margin-right: 77px;
flex-direction: column;
}
.p-gk.Flex301 {
display: flex;
margin-left: 120px;
margin-right: 77px;
cursor: auto;
justify-content: space-between;
padding-top: 50px;
}
.p-gk.Flex299 {
display: flex;
flex-direction: column;
padding-left: ;
width: 50%;
}
.p-gk.Flex296 {
display: flex;
justify-content: space-between;
padding-top: 40px;
}
.p-gk.Flex294 {
display: flex;
}
.p-gk.Flex295 {
display: flex;
flex-direction: column;
}
.p-gk.Flex297 {
display: flex;
}
.p-gk.Flex298 {
display: flex;
padding-top: 50px;
padding-bottom: 40px;
}
.p-gk.Flex300 {
display: flex;
justify-content: space-between;
}
.p-gk.TextBox262 {
width: ;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 20px;
padding-top: 20px;
padding-bottom: 20px;
color: #333333;
background-color: #ff8a5600;
word-wrap: normal;
}
.p-gk.TextBox263 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 40px;
}
.p-gk.Image124 {
height: 50px;
}
.p-gk.TextBox264 {
font-family: IBM Plex Sans;
font-weight: 100;
font-size: 16px;
}
.p-gk.TextBox265 {
width: ;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
}
.p-gk.TextBox266 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 30px;
width: ;
padding-bottom: 50px;
}
.p-gk.Image125 {
;
}
.p-gk.Image126 {
height: 400px;
width: ;
}
