.p-last.Div31 {
height: 100%;
background-color: #000000;
}
.p-last.Flex349 {
display: flex;
margin-left: 120px;
margin-right: 77px;
flex-direction: column;
padding-top: 150px;
}
.p-last.Flex350 {
display: flex;
margin-left: 120px;
margin-right: 77px;
justify-content: space-between;
padding-top: 50px;
}
.p-last.Flex351 {
display: flex;
flex-direction: column;
justify-content: center;
}
.p-last.Flex353 {
display: flex;
column-gap: 10px;
}
.p-last.Flex352 {
display: flex;
justify-content: space-between;
width: 50%;
}
.p-last.Flex354 {
display: flex;
flex-direction: column;
justify-content: center;
}
.p-last.Flex355 {
display: flex;
flex-direction: column;
justify-content: center;
}
.p-last.Flex356 {
display: flex;
flex-direction: column;
justify-content: center;
}
.p-last.TextBox329 {
color: #ffffff;
font-family: IBM Plex Sans;
font-weight: 100;
margin-left: 120px;
margin-right: 77px;
margin-bottom: ;
margin-top: 200px;
}
.p-last.TextBox298 {
color: #fff9f9;
width: ;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 50px;
}
.p-last.TextBox299 {
color: #ffffff;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 50px;
}
.p-last.TextBox300 {
color: #fefafa;
width: ;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
padding-bottom: 10px;
}
.p-last.TextBox301 {
color: #ffffff;
font-family: IBM Plex Sans;
font-weight: 100;
font-size: 18px;
padding-bottom: 10px;
}
.p-last.Image149 {
;
}
.p-last.TextBox303 {
color: #fffbfb;
font-family: IBM Plex Sans;
font-weight: 100;
font-size: 18px;
}
.p-last.TextBox304 {
color: #fdfdfd;
padding-top: 10px;
padding-bottom: 10px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
}
.p-last.TextBox315 {
color: #fdfdfd;
padding-top: 10px;
padding-bottom: 10px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
}
.p-last.TextBox316 {
color: #fdfdfd;
padding-top: 10px;
padding-bottom: 10px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
}
.p-last.TextBox323 {
color: #fdfdfd;
padding-top: 10px;
padding-bottom: 10px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
}
.p-last.TextBox324 {
color: #fdfdfd;
padding-top: 10px;
padding-bottom: 10px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
}
.p-last.TextBox325 {
color: #fdfdfd;
padding-top: 10px;
padding-bottom: 10px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
}
.p-last.TextBox326 {
color: #fdfdfd;
padding-top: 10px;
padding-bottom: 10px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
}
.p-last.TextBox327 {
color: #fdfdfd;
padding-top: 10px;
padding-bottom: 10px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
}
.p-last.TextBox328 {
color: #fdfdfd;
padding-top: 10px;
padding-bottom: 10px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
}
